@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Figtree', ui-sans-serif, system-ui, sans-serif;
}

/* Масштабирование на широких мониторах (2K и выше) */
@media (min-width: 2500px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 3440px) {
  html {
    font-size: 145%;
  }
}
