@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-base-1: #a0a0ff;
    --color-base-2: #64d2ff;
}

body {
    font-family: 'Figtree', ui-sans-serif, system-ui, sans-serif;
}

/* Масштабирование на широких мониторах (2K и выше) */
@media (min-width: 2500px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 3440px) {
  html {
    font-size: 145%;
  }
}
